---
import ListLayout from "@/layouts/list.astro";
import { getEntry } from "astro:content";
import { categoriesHandler } from "@/lib/handlers/categories";
import NewsCard from "@/components/cards/newsCard.astro";
import ArrowRight02 from "@/assets/svgs/arrow-right-02.astro";

const entry = await getEntry("views", "categories");

if (!entry) {
  return Astro.redirect("/404");
}

// Fetch all articles to extract categories
const articles = categoriesHandler.allCategoriesWithLatestArticles();
---

{/* Use your BaseLayout and pass the entry for metadata */}
<ListLayout header={"All Categories"} entry={entry}>
  <ul class="w-full space-y-8 my-6">
    {
      articles.map((category) => {
        const { path, title, latestArticles } = category.data;
        const articleCount = category.data.count;
        return (
          <div class="flex flex-col items-start gap-4">
            <div class="flex items-center w-full justify-between gap-2 border-b border-accent/30">
              <h2 class="text-xl inline-flex items-center">
                {title}{" "}
                <span class="text-xs font-sans ml-2 text-primary">
                  ({articleCount} Articles)
                </span>
              </h2>
              <a
                href={`/categories/${path}/1`}
                class="group flex text-sm items-center gap-1 hover:gap-2 transition-all duration-200"
              >
                See All
                <span class="transform group-hover:translate-x-1 transition-transform duration-200">
                  <ArrowRight02 size="16" />
                </span>
              </a>
            </div>
            <div class="snap-x">
              {/* {latestArticles.slice(0, 6).map((article, index) => (
                <NewsCard article={article} index={index} />
              ))} */}
              <div class="flex overflow-x-auto pb-4 space-x-4 snap-x snap-proximity">
                {latestArticles.slice(0, 6).map((article, index) => (
                  <div class="snap-start flex-none lg:flex-initial">
                    <NewsCard article={article} index={index} />
                  </div>
                ))}
              </div>
            </div>
          </div>
        );
      })
    }
  </ul>
</ListLayout>
