---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Divider from "@/components/bases/divider.astro";
import { render } from "astro:content";
import { getDateDistance } from "@/lib/utils/date";
import { categoriesHandler } from "@/lib/handlers/categories";

type Props = {
  article: CollectionEntry<"articles">;
  isFirst?: boolean;
  isLast?: boolean;
};
const { article, isLast, isFirst } = Astro.props;

const { remarkPluginFrontmatter } = await render(article);
const category = categoriesHandler.oneCategory(article.data.category.id);
---

<article
  class:list={[
    "group py-2 flex items-stretch gap-2 group relative isolate",
    isFirst ? "pt-0" : "pt-2",
    isLast ? "border-b-0 pb-0" : "border-b border-base-300",
  ]}
>
  <div class="flex flex-col flex-1">
    <div class="flex items-center gap-2 mb-1">
      <div class="flex-1">
        <h3 class="text-base lg:group-hover:underline mb-1">
          <a href={`/articles/${article.id}`}>
            <span class="absolute inset-0 z-10 pointer-events-none"></span>
            {article.data.title}
          </a>
        </h3>
        <p
          class="text-sm text-base-content/80 text-balance md:line-clamp-2 lg:line-clamp-3"
        >
          {article.data.description}
        </p>
      </div>
    </div>
    <div class="flex items-center text-xs text-base-content/80 mt-1 lg:mt-auto">
      <span class="text-primary dark:text-secondary">{category.data.title}</span
      >
      <Divider />
      <span>{getDateDistance(remarkPluginFrontmatter.lastModified)}</span>
    </div>
  </div>

  <div
    class="overflow-hidden w-[165px] h-[125px] md:w-[120px] md:h-full shrink-0"
  >
    <Image
      src={article.data.cover}
      alt={article.data.covert_alt
        ? article.data.covert_alt
        : article.data.title}
      loading="eager"
      widths={[120, 320]}
      class="object-cover rounded w-full h-full"
    />
  </div>
</article>
