---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = {
  author: CollectionEntry<"authors">;
};

const { author } = Astro.props;
---

<li class="group relative isolate mx-auto w-full">
  <Image
    class="w-320 aspect-square max-w-full object-cover filter grayscale group-hover:grayscale-0 rounded-md"
    src={author.data.avatar}
    alt={author.data.name}
    layout="responsive"
    loading={"lazy"}
    width={320}
    height={320}
  />
  <div class="flex flex-col gap-0.5 mt-2">
    <h3 class="text-base font-semibold group-hover:underline">
      <a href={`/authors/${author.id}`}>
        <span class="absolute inset-0 z-10 pointer-events-none"></span>
        {author.data.name}
      </a>
    </h3>
    <p class="text-sm text-primary dark:text-secondary">{author.data.job}</p>
  </div>
</li>
